build/
dist/
venv/
.venv/
.vscode/
__pycache__/
*.egg-info/
*.egg
*.code-workspace
*.pyc
*.log
pyrightconfig.json
# pygbag / web build caches
build/web/
build/web-cache/
*.apk
*.wasm
*.data
*.js.map
*.tmp
*.cache

# OS/editor noise
.DS_Store
Thumbs.db
*.swp
*.swo
*.orig